<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Web Application Test Automation Suite">

    <listeners>
        <listener
                class-name="com.facebook.ExtendReportListener.ExtentReporterNG" />
    </listeners>

    <test name="Login Application test cases">
        <classes>
            <class name="com.facebook.pagetest.HomepageTest" />
            <class name="com.facebook.pagetest.LoginPageTest" />
        </classes>
    </test>
</suite>